.section {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 50px 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 900px;

  h2 {
    width: max-content;
    color: var(--black);
    border-bottom: 3px solid var(--secondary-color);
    margin-bottom: 2rem;
  }
}

.tableInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  gap: 10px;

  p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  max-width: 900px;
}

.label {
  color: #000;
  font-family: Karla;
  font-size: 18px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 4px;
}

.input {
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 16px;
  padding: 4px 0px 4px 20px;
  width: 95%;

  @media screen and (max-width: 30em) {
    width: 60%;
  }
}

.iconSection {
  padding: 4px;
}

.button {
  margin-top: 4rem;
  width: 100%;

  @media screen and (max-width: 30em) {
    width: 50%;
  }
}

.checkboxContainer {
  color: var(--primary-color);
  display: flex;
  gap: 0.6rem;
  cursor: pointer;
  width: fit-content;
}
