.button {
  background-color: var(--secondary-color);
  color: var(--black);
  border-radius: 16px;
  transition: all 0.3s;

  font-size: 18px;
  font-weight: medium;

  &:hover {
    background-color: var(--primary-color);
    color: var(--white);
  }
}
